.nav_item{
display: flex;
justify-content:  space-between;
    

}
.nav_div{
background-image: url("https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}