.container{
  display: grid;
  grid-template-rows: 0.1fr 8fr auto ;
  gap: 2%;
}
.home{
  background-image: url("https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.skills{
background-image: url("https://images.pexels.com/photos/322338/pexels-photo-322338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: auto;
}

.about{
background-image: url('https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.contact{
background-image: url('https://images.pexels.com/photos/331684/pexels-photo-331684.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}


.projectSlide{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
