.container{
  display: grid;
  grid-template-rows: 0.1fr 8fr 8fr 8fr 8fr;
}
.home{
  background-image: url("https://images.pexels.com/photos/1624504/pexels-photo-1624504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.skills{
background-image: url("https://images.pexels.com/photos/1366919/pexels-photo-1366919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.about{
background-image: url('https://images.pexels.com/photos/2387876/pexels-photo-2387876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.contact{
background-image: url('https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}